:root {
  --pink: #ef4d93;
  --lightpink: #f594bf;
  --lightestpink: #f1cede;
  --darkpink: #d1005c;
  --white: white;
  --black: black;
  --chicfont: "miller-display", serif;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}
